# API Configuration
API_URL=https://cp.alhayatsmart.com/api/

# Social Media Integration
FB_APP_ID=337882340426556

# Analytics
GOOGLE_ANALYTICS_ID=UA-144674258-5

# Next.js Configuration
NEXT_PUBLIC_SITE_URL=https://alhayatsmart.com